<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="net.year4000.mobile">

    <!--important! needed to communicate with JSON API-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="@string/app_name" android:icon="@drawable/logo_square" android:allowBackup="true">
        <activity android:name=".android.servers.ServersActivity" android:label="@string/app_header">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".android.servers.DisplayServer" android:label="@string/app_header"/>
        <activity android:name=".android.servers.DisplayNetwork" android:label="@string/app_header"/>
    </application>
</manifest>

